html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --bg-primary: #0a0a0a;
    --bg-secondary: #121212;
    --text-primary: #ffffff;
    --text-secondary: #b3b3b3;
    --accent-color: #fb4f4f;
    --accent-hover: #fe6c6c;
    --neon-pink: #ff00ff;
    --neon-blue: #ff7878;
    --card-bg: #1a1a1a;
    --border-color: #333333;
    --neon-glow: 0 0 10px var(--accent-color),
                 0 0 20px var(--accent-color),
                 0 0 30px var(--accent-color);
}